PORT=3001
CALENDAR_TIME_ZONE=Asia/Jakarta
GOOGLE_CALENDAR_ID=your-google-calendar-id@group.calendar.google.com
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-service-account.json
PRAYER_PROVINCE=DKI Jakarta
PRAYER_CITY=Kota Jakarta

# WhatsApp Approver Configuration (nomor format 628xxx, pisahkan dengan koma jika lebih dari 1)
APPROVER_WHATSAPP_NUMBERS=628xxxxxxxxxx
BOT_SISKA_SEND_URL=http://127.0.0.1:3000/send-message

